
body{
	height: 100%;
	letter-spacing: .3vw;
}

h1{
	font-size: 4vw;
	margin-top: 5vh;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
}

#opening-screen h1{
	font-family: badaboom_bbregular;
	font-size: 5vw;
	color: black;
	width: 90%;
	padding: 4vw 4vw;
	border-radius: 50%;
	margin-top: 0;
}

#opening-screen p{
	font-family: "Comic Sans MS";
	font-size: 1.5vw;
	padding: 2vw 2vw;
	text-align: center;
	border-radius: 50%;
}

#result-screen h1{
	margin-bottom: 2vh;
}

h2{
	font-size: 2.5vw;
	padding-left: 1vw;
	padding-right: 1vw;
}

.header{
	font-family: "badaboom_bbregular";
	color: black;
	padding-top: 2vh;
	padding-bottom: 2vh;
	overflow: auto;
}

.hidden{
	visibility: hidden;
}

.no-opacity{
	opacity: 0;
}

.rounded-corner{
	border-radius: 25px;
}

.background-image{
	background-image: url('../images/background-img.jpg');
	width: 100%;
	height: auto;
}

.circular-sb{
	font-family: "badaboom_bbregular";
	text-align: center;
	color: black;
	border-radius: 50%;
	height: 60vh;
	margin-top: 20vh;
	font-size: 5.5vw;
}

.circular-sb span{
	position: relative;
	top: 30%;
}

.comic-format {
	border: 5px solid black;
	background-color: white;
}

.answer-container, .statistics-container{
	vertical-align: middle;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 1.5vh 0vw;
	overflow: auto;
}

.answer-container:hover{
	border: 3px solid black;
	border-radius: 25px;
	background-color: #ffedce;
}

.statistics-container{
	width: 90%;
}

.slide-in{
	animation: slide-in 1.5s forwards;
}


#qa-container h2{
	padding-bottom: .5vh;
}

#main-content{
	margin-top: 10vh;
	margin-bottom: 5vh;
}

#answer-choices, #statistics-content{
	font-family: "Comic Sans MS";
	font-size: 2vw;
}


#verdict{
	margin-top: 5vh;
	margin-bottom: 10vh;
}

#final-statistics h1{
	font-size: 5vw;
	width: 75%;
}

#final-statistics h2{
	font-size: 3.5vw;
}

#statistics{
	padding-top: 3vh;
	padding-bottom: 3vh;
	margin-bottom: 5vh;
}